@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Space+Mono:ital,wght@0,400;0,700&display=swap');
@import "tailwindcss";

@theme {
  --color-nivis-black: #0a0a0a;
  --color-nivis-gray: #262626;
  --color-nivis-light-gray: #333333;
  --color-nivis-neon: #d4ff3c;
  --color-nivis-white: #ffffff;
  
  --font-sans: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
  
  --spacing-nav: 80px;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    zoom: 0.85;
  }

  @media (max-width: 1024px) {
    html {
      zoom: 1;
    }
  }

  body {
    background-color: var(--color-nivis-black);
    color: var(--color-nivis-white);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: #0a0a0a; }
  ::-webkit-scrollbar-thumb { background: #333; }
  ::-webkit-scrollbar-thumb:hover { background: #d4ff3c; }
}

@layer utilities {
  .text-shadow-neon {
    text-shadow: 0 0 10px rgba(212, 255, 60, 0.5);
  }
}
